* { /* valores a 0 del navegador para mÃ¡rgenes */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contenedor{
    width: 90%;
    height: 50px;
    margin: auto;
}

header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

header{
    padding: 1.5em 0;
}

.principal{
    background-color: #E0E0E0;
    width: 100vw ;
    height: 100vw;
    margin: 0;
    padding: 0; 
    background-repeat: no-repeat;    
}  

.logotipo img{
    height: 65px;
}

.barra{
    width: 90%;
    height: 50px;
    margin: auto;
    border: none;
}
    
header nav a{
    text-decoration: none;
    color: rgb(251, 251, 251);
    font-family: 'Bebas Neue';
    font-size: 1.25rem;
    margin-right: 20PX;
}

header nav a:hover{
    color: #383434;
}
    
header .barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
header{
    padding: 1.5em 0;
    background-color: #281F41;
}

p{
    color: whitesmoke;
    padding: 20px;
    font-size: 20px;
    margin-left: 100px;
    margin-top: 30px;
    height: 300px; 
    width: 500px;
}

.registro{
    border: 2px solid white ;
    color: whitesmoke;
        margin-left: 100px;
    height: 45px;
    width: 90px;
    font-size: 15px;
    line-height:center;
}

/*--------------------- estilo de las 6 peliculas de cartelera------------------------*/
.grid{
   display: flex;
   justify-content: space-around;
   width: 90vw;
   margin: 100px auto 20px auto;
}

.grid div{
    width: 150px;
}

.grid img{
    width: 100%;
    border-radius: 7px;
}

.uno, .dos, .tres, .cuatro, .cinco, .seis{
    border-color: #281F41;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    padding-left: 5px;
    padding-right: 5px;
}


