* { /* valores a 0 del navegador para mÃ¡rgenes */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contenedor{
    width: 90%;
    height: 50px;
    margin: auto;
    border: none;
}

header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
header{
    padding: 1.5em 0;

}
body{
    width: 100vw ;
    height: 100vw;
    margin: 0;
    padding: 0; 
    background-repeat: no-repeat;   
}
.logotipo img{
    height: 65px;
}
header nav a{
    text-decoration: none;
    color: rgb(251, 251, 251);
    font-family: 'Bebas Neue';
    font-size: 1.25rem;
    margin-right: 20PX;
}
header nav a:hover{
    color: #383434;
}

 .grid, div{
    display: grid;
    grid-template-columns:repeat(3 ,1fr);
    row-gap: 30px;
   
 }
 .grid{
 margin-top: 40px;
 margin-left: 170px;

 }
 div{
    border: 3px solid white;
    width: 200px;
    height: 250px;
 }